/* For Headings */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");
/* For Main Layout */

/* -----CSS Default Reset----- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --tutor-primary-color: #4d5fe3;
  --nav-clr: #25356f;
  --tutor-text-color: #757783;
  --tutor-light-color: #757783;
  --tutor-danger-button-color: #f76c6c;
  --tutor-warning-button-color: #ed9700;
  --zilom-link-color: #1c1e27;
  --zilom-heading-color: #1c1e27;
  --zilom-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --zilom-footer-color: #aeb2c2;
  --zilom-footer-color-link-hover: #4d5fe3;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 94%;
  margin: 0 auto;
}

/*--------------- Home Page Styling------------ */
/* <!------- Pre Header----- --> */
.preheader {
  background-color: var(--zilom-heading-color);
}

.preheader-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 10px 0;
}

.preheader-flexbox div > span {
  font-size: 1.4rem;
  font-weight: 400;
}
.preheader-flexbox div:nth-child(2) {
  margin-left: 20px;
}
.preheader-flexbox div:nth-child(3) {
  margin-left: auto;
}

.preheader-flexbox div i {
  margin-right: 8px;
  font-size: 1.7rem;
}

/*--------- Header----------- */
header {
  background-color: white;
  padding: 3px 0;
  border-bottom: 1px solid var(--zilom-footer-color);
}

.header-flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-flexbox a img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: auto;
}
.header-flexbox nav {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-flexbox nav > span > a {
  font-size: 1.6rem;
  color: var(--nav-clr);
  font-weight: 500;
  margin: 0 10px;
  display: block;
}

.header-flexbox nav > span a:hover {
  color: var(--tutor-text-color);
}

.selected-header-page {
  color: var(--tutor-text-color) !important;
}
.header-nav-link {
  position: relative;
  cursor: pointer;
}
.header-nav-dropdown {
  background-color: white;
  position: absolute;
  padding: 10px 0;
  top: 200%;
  left: 0;
  border: 1px solid var(--zilom-footer-color);
  width: 220px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
}
.header-nav-dropdown-show {
  display: block;
  animation: slideDown 0.4s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.header-nav-dropdown ul li {
  font-size: 1.4rem;
  padding: 16px 18px;
}
.header-nav-dropdown ul li:hover {
  color: var(--tutor-light-color);
}
/* ----------Mobile Nav------ */
.mobile-nav-slider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  display: none;
  background-color: white;
  display: none;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mobile_nav_slide_show {
  display: block;
  animation: slideIn 0.6s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  40% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.mobile-nav-slider-top {
  background-color: #f1f2f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.mobile-nav-slider-top img {
  width: 23px;
  height: 23px;
  margin-left: 25px;
}
.mobile-nav-slider-top > div {
  background-color: var(--zilom-footer-color-link-hover);
  color: white;
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
}
.mobile-nav-menu > nav > span {
  padding: 15px 0;
  margin: 0 25px;
  border-bottom: 1px solid #d9d9d9;
  font-weight: 600;
  display: block;
}

.mobile-nav-menu > nav > span > a:hover {
  color: var(--zilom-footer-color-link-hover);
}
.mobile-nav-btn {
  color: var(--zilom-heading-color);
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
}
.mobile-nav-btn:hover {
  color: var(--tutor-primary-color);
}

.mobile-nav-link > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-link > a > span > i {
  color: var(--tutor-light-color);
  font-size: 1.4rem;
  cursor: pointer;
}
.mobile-nav-link {
  cursor: pointer;
}
.mobile-nav-dropdown {
  display: none;
}
.mobile-nav-dropdown ul li {
  padding-top: 8px;
}
.mobile-nav-dropdown ul li a {
  color: var(--tutor-light-color);
  padding: 10px 15px;
  display: inline-block;
  font-weight: 400;
}
.mobile-nav-dropdown ul li a:hover {
  color: var(--zilom-footer-color-link-hover);
}
.mobile-nav-dropdown-show {
  display: block;
}
/* --------Hero Swiper js-------- */
.swiper {
  width: 100%;
  height: 110vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
}

.swiper-slide .slide-img {
  display: block;
  width: 100%;
  height: 110vh;
}
.slider-bubble {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 150px;
  height: 180px;
}
.slider-bubble-2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 7;
  width: 180px;
  height: 500px;
  z-index: 4;
}
.swiper-slide-content-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 8;
}
.swiper-slide-content {
  padding-right: 20%;
  animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swiper-slide-content > span {
  font-family: "Dancing Script", cursive;
  font-size: 4.3rem;
  color: var(--nav-clr);
  display: inline-block;
  margin-bottom: 15px;
}
.swiper-slide-content h1 {
  font-size: 10rem;
  font-weight: 700;
  line-height: 10rem;
  color: #ffffff;
}
.swiper-slide-content p {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.1rem;
  color: #ffffffcc;
  margin: 20px 0 20px 0;
}
.swiper-slide-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50%;
}
.swiper-slide-content > div img:first-of-type {
  width: 90%;
}
.swiper-slide-content > div img:last-of-type {
  width: 230px;
}
.slider-certified-span {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  color: #ffffff;
  font-family: "Buenard", serif;
}
.slider-enroll-btn {
  outline: none;
  background-color: transparent;
  border: none;
  display: block;
  margin: 10px 0;
}
.slider-enroll-btn a {
  font-size: 1.2rem;
  display: block;
  text-transform: uppercase;
  padding: 18px 32px;
  background-color: var(--nav-clr);
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.slider-enroll-btn a:hover {
  background-color: var(--zilom-footer-color-link-hover);
}

.slide-person {
  position: absolute;
  right: 50px;
  bottom: 0px;
  width: 30%;
  animation: slideTop ease 1.5s;
  transform: translate(0, 0);
}
@keyframes slideTop {
  0% {
    transform: translate(0, 80%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.swiper-slide-2 {
  background-color: #dee2eb;
}
.swiper-slide-2 > span {
  color: var(--tutor-primary-color);
}
.swiper-slide-2 h1 {
  color: var(--zilom-link-color);
}
.swiper-slide-2 p {
  color: var(--tutor-text-color);
}
.swiper-slide-2 > div > span {
  color: var(--zilom-link-color);
}
.swiper-slide-3 {
  background-color: #25485c;
}

.swiper-slide-3-content h1 {
  color: white;
  font-size: 6.5rem;
  line-height: 7rem;
  font-weight: 400;
}
.swiper-slide-3-content h1 > span {
  display: inline-block;
  background-color: #46bbe6;
  margin-bottom: 7px;
}
.swiper-slide-3-content > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 550px;
}
.swiper-slide-3-content > div div {
  position: relative;
  margin-top: 100px;
  width: 550px;
  margin-bottom: 15px;
}
.swiper-slide-3-content > div > div img:first-of-type {
  position: absolute;
  top: -50%;
  left: 0;
}
.course-approval-img {
  object-fit: cover;
  object-position: center;
  width: 550px;
}
.swiper-slide-3-content > div > img {
  width: 360px;
}
.slide-globe {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50%;
}
.swiper-slide-3-content .slider-enroll-btn {
  margin-bottom: 0 !important;
}
/* ----------- */
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 20px !important;
  color: white !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(22, 22, 22, 0.5);
  color: white;
  padding: 16px 23px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(22, 22, 22, 1);
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 16px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 16px)
  ) !important;
  background-color: white !important;
  opacity: 0.6 !important;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1) !important;
  background: var(--zilom-footer-color-link-hover) !important;
}

/* --------Counter Section---------- */
.counter-section {
  background-image: url("../assets/bg-3.jpg");
  object-fit: cover;
  object-position: center;
  padding: 100px 0;
}

.counter-section-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter-section-flexbox h2 {
  color: white;
  font-size: 3.4rem;
  line-height: 4.2rem;
  padding-right: 15px;
}

.counters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.counter-container {
  background-color: #0d0f13;
  padding: 38px 20px 30px;
  width: 210px;
  border-radius: 8px;
}
.counter-container:hover .counter-tag {
  animation: 2.3s ease 0s infinite beat;
}
@keyframes beat {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }
  30%,
  80% {
    transform: scale(0.8, 0.85);
  }
}
.counter-container .counter {
  color: white;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}
.counter-container span {
  color: var(--zilom-footer-color);
  text-align: center;
  display: block;
}
.counter-container .counter-tag {
  color: #a8d0e6;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}

/* ---------Choose Us Section--------- */
.choose-us-section {
  width: 100%;
  margin: 120px 0 0 0;
}

.choose-us-section-flexbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
}

.choose-us-section-flexbox-left span {
  font-size: 2rem;
  color: var(--tutor-danger-button-color);
  display: inline-block;
}
.choose-us-section-flexbox-left h2 {
  font-size: 3.5rem;
  margin: 8px 0 13px 0;
}

.choose-us-section-flexbox-left p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--tutor-text-color);
  margin-bottom: 15px;
  text-align: justify;
}

.choose-us-section-flexbox-right {
  position: relative;
  height: 100%;
}
.choose-us-section-flexbox-right img {
  border-radius: 13px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.choose-us-section-flexbox-right span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  left: 0;
  writing-mode: vertical-lr;
  background-color: var(--zilom-footer-color-link-hover);
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  height: 70%;
  text-align: center;
  color: white;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
}
/* ----------ABout Section--------- */
.about-section {
  width: 100%;
  margin: 120px 0 0 0;
}
.about-section-flexbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
}
.about-section-flexbox-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.about-section-flexbox-left-img-left,
.about-section-flexbox-left-img-right {
  position: relative;
}

.about-section-flexbox-left-img-left img,
.about-section-flexbox-left-img-right img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.about-section-flexbox-left-img-right div {
  position: absolute;
  bottom: 20px;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  width: 95%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.about-section-flexbox-left-img-right span {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--nav-clr);
  line-height: 2.1rem;
}
.about-section-flexbox-left-img-right i {
  font-size: 5rem;
  color: var(--nav-clr);
  margin-right: 20px;
}

.about-section-flexbox-left-img-left::before {
  position: absolute;
  content: "";
  background-color: var(--nav-clr);
  top: 30px;
  bottom: 30px;
  left: -22px;
  width: 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.about-section-flexbox-right span {
  font-size: 2rem;
  color: var(--tutor-danger-button-color);
  display: inline-block;
}
.about-section-flexbox-right h2 {
  font-size: 3.5rem;
  margin: 8px 0 13px 0;
}

.about-section-flexbox-right p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--tutor-text-color);
  margin-bottom: 15px;
  text-align: justify;
}

.about-section-flexbox-right h5 {
  font-size: 1.8rem;
  color: var(--tutor-text-color);
  margin-bottom: 5px;
  text-transform: uppercase;
}

.about-section-flexbox-right ul li {
  font-size: 1.6rem;
  color: var(--tutor-text-color);
  margin-bottom: 8px;
  line-height: 2.5rem;
  position: relative;
  margin-left: 40px;
}
.about-section-flexbox-right ul li::before {
  position: absolute;
  content: url("../assets/checked_243720.png");
  left: -40px;
  top: 0;
}
.about-section-flexbox-right button {
  border: none;
  background-color: transparent;
  outline: none;
  display: block;
  margin-top: 20px;
}

.about-section-flexbox-right button a {
  background-color: var(--nav-clr);
  text-transform: uppercase;
  border-radius: 13px;
  padding: 20px 25px;
  display: block;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
/*---------- Subscribe Section-------- */
.subscribe-section {
  width: 100%;
  margin: 120px 0 0 0;
  background-image: url("../assets/bg-2.jpg");
}

.subscribe-section-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.subscribe-section-flexbox-left {
  width: 62%;
  padding: 80px 0;
}
.subscribe-section-flexbox-left span {
  font-size: 1.8rem;
  color: var(--tutor-danger-button-color);
  line-height: 2.5rem;
  display: block;
  opacity: 1;
  font-weight: 500;
}
.subscribe-section-flexbox-left h3 {
  font-size: 3.5rem;
  margin: 8px 0 13px 0;
  color: white;
}
.subscribe-section-flexbox-left p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #ffffffb3;
  margin-bottom: 15px;
  text-align: justify;
}
.subscribe-section-flexbox-right {
  width: 38%;
}
.subscribe-section-flexbox-right form {
  background-color: white;
  border-radius: 11px;
  padding: 18px 35px 35px 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.subscribe-section-flexbox-right form h3 {
  font-size: 2.4rem;
  margin: 8px 0 13px 0;
}
.subscribe-section-flexbox-right form input {
  font-size: 1.6rem;
  padding: 20px;
  margin: 8px 0 13px 0;
  outline: none;
  border: none;
  background-color: #f1f2f6;
  border-radius: 4px;
  width: 100%;
}

.subscribe-section-flexbox-right form button {
  font-size: 14px;
  background-color: var(--zilom-footer-color-link-hover);
  color: #fff;
  font-weight: 700;
  padding: 22px 30px 20px;
  line-height: 15px;
  position: relative;
  display: block;
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  border-radius: 10px;
  margin-top: 10px;
}
/* Access Section */
.access-section {
  width: 100%;
  background-color: white;
  padding: 50px 0;
}
.access-section-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 25px;
}
.access-section-flexbox-left {
  background-color: var(--nav-clr);
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.access-section-flexbox-left i {
  font-size: 5rem;
  color: white;
}
.access-section-flexbox-right h4 {
  font-size: 2.2rem;
  margin: 8px 0 13px 0;
}

.access-section-flexbox-right p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--tutor-light-color);
  text-align: justify;
  font-weight: 400;
}
/*  ----------Review Section----------- */
.review-section {
  width: 100%;
}
.review-section-flexbox-top-container {
  background-image: url("../assets/bg-1.jpg");
  width: 100%;
}
.review-section-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-section-flexbox-top {
  width: 100%;
  text-align: center;
  padding: 130px 0;
}
.review-section-flexbox-top span {
  font-size: 1.8rem;
  color: #d3d8ff;
  font-family: 500;
}
.review-section-flexbox-top h3 {
  font-size: 3.5rem;
  color: white;
  margin: 11px 0 15px 0;
}
.review-section-flexbox-top p {
  font-size: 1.6rem;
  color: white;
  font-family: 500;
}
.review-section-flexbox-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  transform: translateY(-70px);
}

.review-card {
  background-color: white;
  padding: 19px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.review-card h3 {
  font-size: 2rem;
  color: var(--nav-clr);
  margin-bottom: 12px;
}
.review-card p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--tutor-light-color);
  text-align: justify;
  font-weight: 400;
}
.review-card a {
  font-size: 1.3rem;
  color: var(--nav-clr);
  font-weight: 600;
  display: inline-block;
  margin: 22px 0;
}
.review-card a i {
  margin-left: 8px;
  font-weight: 600;
  font-size: 1.4rem;
}
.review-card a:hover {
  color: var(--tutor-danger-button-color);
}
.review-card h5 {
  font-size: 1.5rem;
  color: var(--nav-clr);
  margin-bottom: 3px;
}

.review-card .review-rating {
  color: var(--tutor-warning-button-color);
  font-size: 1.4rem;
}

.review-section button {
  font-size: 14px;
  background-color: var(--nav-clr);
  color: #fff;
  font-weight: 600;
  padding: 17px 23px;
  line-height: 15px;
  position: relative;
  display: block;
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  border-radius: 10px;
  margin-top: 10px;
  margin: 0 auto;
  cursor: pointer;
}

/* -------------Client Section----------------- */
.clients-section {
  margin: 120px 0 0 0;
  width: 100%;
  background-color: #f1f2f6;
}
.clients-section-flexbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  padding: 90px 0;
}

.clients-section-flexbox-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

.clients-section-flexbox-left-top span {
  font-size: 1.8rem;
  color: var(--tutor-danger-button-color);
  display: inline-block;
}

.clients-section-flexbox-left-top h3 {
  font-size: 3.5rem;
  margin: 5px 0 13px 0;
}

.clients-section-flexbox-left-top p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--tutor-text-color);
  margin-bottom: 15px;
  text-align: justify;
}

.clients-section-flexbox-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.clients-section-flexbox-right a {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clients-section-flexbox-left-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 10px solid #374785;
  border-bottom: 1px solid var(--zilom-footer-color);
}

.clients-section-flexbox-left-bottom div:first-child {
  background-color: #374785;
  width: 150px;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 25px;
  font-size: 4.5rem;
  color: white;
  margin: 70px 20px;
}
.clients-section-flexbox-left-bottom div:nth-child(2) h4 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.clients-section-flexbox-left-bottom div:nth-child(2) p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--tutor-text-color);
  margin-bottom: 10px;
  text-align: justify;
}
.clients-section-flexbox-left-bottom div:nth-child(2) span {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--tutor-text-color);
  margin-bottom: 6px;
  text-align: justify;
  display: block;
}
/* --------------Blog Posts----------------- */
.blog-post-section {
  margin: 120px 0 0 0;
  width: 100%;
}

.blog-post-section > span {
  font-size: 1.8rem;
  color: var(--tutor-danger-button-color);
  display: block;
  text-align: center;
}
.blog-post-section > h2 {
  font-size: 3.5rem;
  margin: 10px 0 13px 0;
  text-align: center;
}

.blog-post-section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  margin: 35px auto 20px auto;
}

.blog-post-card {
  border: 1px solid #f1f2f6;
  overflow: hidden;
}
.blog-post-content {
  padding: 5px 15px 20px 15px;
}
.blog-post-card div:first-child {
  height: 280px;
  position: relative;
  overflow: hidden;
}

.blog-post-card div:first-child::after {
  content: "\f178";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-family: "Font Awesome 5 Pro";
  background-color: rgba(28, 30, 38, 0.79);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.blog-post-card div:first-child:hover::after {
  opacity: 1;
}

.blog-post-card div:first-child > a > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transform: scale(1.1);
}
.blog-post-card h3 a {
  font-size: 1.92rem;
  line-height: 2.4rem;
  opacity: 0.8;
  display: block;
  margin: 40px 0 10px 0;
}

.blog-post-card h3 a:hover {
  color: var(--nav-clr);
}
.blog-post-card span:first-of-type > a {
  color: var(--tutor-danger-button-color);
  font-size: 1.4rem;
  display: block;
  font-weight: 500;
}
.blog-post-card span:nth-of-type(2) > a {
  display: block;
  margin: 7px 0;
}

.blog-post-card span:nth-of-type(2) > a:hover {
  color: var(--nav-clr);
}

.blog-post-card span:nth-of-type(3) {
  color: var(--tutor-light-color);
  display: block;
}

.blog-post-section button {
  font-size: 1.6rem;
  background-color: var(--nav-clr);
  color: #fff;
  font-weight: 400;
  padding: 17px 23px;
  line-height: 15px;
  position: relative;
  display: block;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  margin: 0 auto;
}
.blog-post-section button:hover {
  background-color: #27bdbd;
  cursor: pointer;
}
/*-------------- Certificates Section--------------- */
.certificates-section {
  margin: 80px auto 30px auto;
}

.certificates-section .certificates-section-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.certificates-section .certificates-section-top img {
  width: 180px;
  height: 180px;
}
.certificates-section-bottom {
  position: relative;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.certificates-section-bottom span {
  display: block;
  text-align: center;
  font-size: 22px;
  color: var(--nav-clr);
  font-weight: 300;
}
.certificates-section-bottom a {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}
.certificates-section-bottom a img {
  width: 100px;
  height: 90px;
}

/* --------------Footer-------------- */
footer {
  background-color: var(--zilom-heading-color);
  padding: 35px 0 45px 0;
}

.footer-flexbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-flexbox nav {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-flexbox nav a {
  color: white;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 22px;
}

.footer-flexbox div i {
  font-size: 2.5rem;
  color: white;
  margin-left: 15px;
}

.footer-flexbox div i:first-child {
  margin-right: 15px;
}

.footer-copyright {
  color: white;
  display: block;
  font-weight: 500;
  margin: 40px auto 0 auto;
}
/* ---------- Live Chat--------- */
.live-chat-section {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 12;
}
.live-chat-popup {
  position: relative;
}
.live-chat-btn {
  font-size: 3.2rem;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: var(--nav-clr);
  border-radius: 50%;
}

.live-chat-content {
  position: absolute;
  bottom: 70px;
  right: -20px;
  background-color: #24305e;
  background-color: #f7f7f9;
  width: 360px;
  border: 1px solid #f1f2f6;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  display: none;
}
.live-chat-content-show {
  display: block;
  animation: fadeIn 0.4s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.live-chat-content h3 {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
  background-color: #24305e;
  color: white;
  padding: 27px 12px 40px 12px;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.live-chat-content form {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
  background-color: white;
  padding: 13px 12px;
  margin: 0 15px 50px 15px;
  border-radius: 7px;
  border-left: 6px solid var(--nav-clr);
  border-top-left-radius: 1px;
  transform: translateY(-20px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.live-chat-content form input,
.live-chat-content form textarea {
  font-size: 1.3rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-weight: 400;
  background-color: white;
  padding: 12px;
  margin: 8px 0;
  width: 100%;
}

.live-chat-content form button {
  font-size: 1.6rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-weight: 400;
  background-color: #24305e !important;
  padding: 12px;
  margin: 20px 0 0 0;
  width: 100%;
  color: white;
  display: block;
}
.live-chat-content form button i {
  margin-right: 10px;
  font-size: 1.7rem;
}

.live-chat-content p {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: white;
  padding: 15px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ----------Blog Post Page------------ */
.blog-hero-section {
  width: 100%;
  background-image: url("../assets/breadcrumb.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}
.blog-hero-section h2 {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.6rem;
  padding-right: 30px;
}

/*-------- Blog Main Grid ---------*/
.blog-main-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10px;
}

.blog-main-gird-left {
  width: 70%;
}
.blog-main-gird-left-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}
.blog-post {
  width: 45%;
  overflow: hidden;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-post:hover {
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
}
.blog-post > a {
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-post img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  transform: scale(1.5);
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-page-post-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 32px;
  position: relative;
  margin-top: 50px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.blog-post-date {
  position: absolute;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 10px 15px;
  text-align: center;
  top: -16px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #dee2e6;
  font-size: 1.3rem;
  color: var(--tutor-light-color);
  font-weight: 500;
}
.blog-post-date i {
  margin-right: 5px;
  color: var(--zilom-footer-color-link-hover);
}
.blog-page-post-content h3 a {
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-top: 20px;
  display: block;
}
.blog-page-post-content h3 a:hover {
  color: var(--zilom-footer-color-link-hover);
}
.blog-page-post-content p {
  font-size: 1.6rem;
  padding: 0 0 5px;
  line-height: 2.8rem;
  margin-top: 25px;
  color: var(--tutor-light-color);
}
.blog-page-post-content span a {
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin-top: 25px;
  color: var(--tutor-primary-color);
  display: block;
  font-weight: 700;
  letter-spacing: 1.7px;
}
.blog-page-post-content span a i {
  margin-left: 5px;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.blog-page-post-content span a:hover i {
  transform: translateX(8px);
}
.blog-posts-pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0;
}
.blog-posts-pagination span a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 14px;
  background: #fff;
  color: #1c1e27;
  -webkit-transition: all 0.35s !important;
  transition: all 0.35s !important;
  -moz-transition: all 0.35s !important;
  -ms-transition: all 0.35s !important;
  text-decoration: none;
  margin-right: 10px;
  border: 2px solid #dee2e6;
  border-radius: 4px;
  box-shadow: none;
}
.blog-posts-pagination span a:hover {
  border-color: var(--zilom-footer-color-link-hover);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
.blog-posts-pagination-selected {
  background-color: var(--zilom-footer-color-link-hover) !important;
  color: white !important;
  border: none !important;
}
.blog-main-gird-right {
  width: 30%;
}

.blog-main-gird-right-search {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 35px 30px;
  background: #f1f2f6;
  position: relative;
  border-radius: 10px;
  margin-bottom: 40px;
}

.blog-main-gird-right-search label {
  font-weight: 700;
  color: var(--tutor-light-color);
}
.blog-main-gird-right-search div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-top: 4px;
}
.blog-main-gird-right-search div input {
  padding: 10px;
  font-size: 1.8rem;
  width: 100%;
  outline: none;
}

.blog-main-gird-right-search div button {
  padding: 10px;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
}

.blog-main-gird-right-sections {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 35px 30px 60px 30px;
  background: #f1f2f6;
  position: relative;
  border-radius: 10px;
  margin-bottom: 40px;
}

.blog-main-gird-right-sections h3 {
  font-size: 2.8rem;
  padding: 15px 0 20px;
  line-height: 3.4rem;
}

.blog-main-gird-right-sections ul li a {
  display: block;
  padding: 8px 0;
  line-height: 2.6rem;
}

.blog-main-gird-right-sections ul li a:hover {
  color: var(--zilom-footer-color-link-hover);
}

/*-------------- Detailed Blog Posts Page--------------- */
.detailed-blog-hero-section {
  width: 100%;
  background-image: url("../assets/breadcrumb.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
  position: relative;
}
.detailed-blog-hero-section h2 {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.6rem;
  padding-right: 30px;
}

.breadcrumbs-outer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.breadcrumbs {
  margin-left: auto;
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
  padding: 25px 25px 22px;
  background: #fff;
  color: var(--zilom-theme-color);
  border-radius: 10px 10px 0 0;
}

.breadcrumbs span {
  padding: 0 6px;
}

.detailed-blog-main-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10px;
}

.detailed-blog-main-gird-left {
  width: 70%;
}
.detailed-blog-main-gird-right {
  width: 30%;
}

.detailed-blog-post-date {
  font-size: 1.2rem;
  color: var(--tutor-light-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.detailed-blog-post-date i {
  color: var(--tutor-primary-color);
  font-size: 1.4rem;
  margin-right: 5px;
}

.detailed-blog-post-content h2 {
  font-size: 36px;
  color: #1c1e27;
  padding: 0 0 10px;
  margin: 10px 0 15px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.detailed-blog-post-content p {
  color: #757783;
  line-height: 2.7rem;
  margin-bottom: 17px;
}

.blog-post-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 35px 0 60px 0;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.blog-post-tag span a {
  border: 1px solid #dee2e6;
  padding: 10px 15px 10px;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  border-radius: 8px;
  background: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--tutor-light-color);
  display: inline-block;
}

.blog-post-tag span a:hover {
  border: none;
  background-color: var(--zilom-footer-color-link-hover);
  color: white;
}

.blog-post-social-share {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 25px 0;
  border-top: 1px solid #f1f2f6;
  border-bottom: 1px solid #f1f2f6;
}
.blog-post-social-share a {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 13px;
  border-radius: 50%;
  background: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--tutor-light-color);
  background-color: #f1f2f6;
}

.blog-post-social-share a:hover {
  border: none;
  background-color: var(--zilom-footer-color-link-hover);
  color: white;
}

.detailed-blog-main-gird-right-sidebar {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 35px 30px 30px 30px;
  background: #f1f2f6;
  position: relative;
  border-radius: 10px;
  margin-bottom: 40px;
}

.detailed-blog-main-gird-right-sidebar h3 {
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.detailed-blog-main-gird-right-sidebar hr {
  width: 50px;
  background-color: var(--tutor-primary-color);
  height: 2.5px;
  border: none;
}
.categories-sidebar {
  margin-top: 40px;
}
.categories-sidebar ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  font-weight: 500;
}

.categories-sidebar ul li a {
  color: var(--tutor-light-color);
}

.categories-sidebar ul li a:hover {
  color: var(--tutor-primary-color);
}

.categories-sidebar ul li span {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--tutor-light-color);
}

.tags-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.tags-sidebar span a {
  border: 1px solid #dee2e6;
  padding: 10px 15px 10px;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  border-radius: 8px;
  background: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--tutor-light-color);
  display: inline-block;
}

.tags-sidebar span a:hover {
  border: none;
  background-color: var(--zilom-footer-color-link-hover);
  color: white;
}

.recent-posts-sidebar {
  margin-top: 30px;
}
.recent-posts-sidebar > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 15px;
  margin-bottom: 25px;
}
.recent-posts-sidebar > div div:first-child {
  width: 70px !important;
  height: 70px;
  background-color: #1c1e27;
}
.recent-posts-sidebar > div div:first-child a {
  display: block;
  width: 100%;
  height: 100%;
}
.recent-posts-sidebar > div div:first-child a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
.recent-posts-sidebar > div > div:last-child {
  width: calc(100% - 85px);
}
.recent-posts-sidebar > div > div:last-child span {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.3rem;
  display: inline-block;
  margin: 0 0 3px 15px;
  color: var(--tutor-light-color);
}

.recent-posts-sidebar > div > div:last-child h5 a {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.3rem;
  display: inline-block;
}

.recent-posts-sidebar > div > div:last-child h5 a:hover {
  color: var(--zilom-footer-color-link-hover);
}

.detailed-blog-main-gird-right .download-btn {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.detailed-blog-main-gird-right .download-btn a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 30px;
  text-align: center;
  background-color: var(--zilom-link-color);
  border-radius: 7px;
  width: 100%;
  display: block;
}
.detailed-blog-main-gird-right .download-btn a:hover {
  color: var(--zilom-footer-color-link-hover);
}
